body {
    font-family: BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-size: 15px;
    color: #F0F6FC;
    text-align: center;
    background-color: #090C10;
}

a {
    text-decoration: none;
    color: #F0F6FC;
}

a:hover {
    color: #a5ada8;
}

.logo {
    width: 150px;
}

h1 {
    color: #F0F6FC;
}

.btn-primary {
    background: linear-gradient(135deg, #74c2ff 0%, #74c2ff 75%, #86e6a9);
    border-color: #54DC8C;
    border-radius: 50rem !important;
    color: black;
}

.flex .btn-primary {
    min-width: 150px;
    padding: 0.375rem 25px;
}

.btn-primary:hover {
    border-color: #54DC8C;
    color: black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    gap: 14px;
}

.main-container > .row {

}

.screenshot {
    max-width: 100%;
    box-shadow: 0 0 10px #74c2ff;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.screenshot:hover {
    transform: scale(1.5);
    transform-origin: right;
}

.compose-yaml {
    border-radius: 20px;
    background-color: black;
}

.compose-yaml pre {
    background-color: transparent;
}

input[type=text] {
    background-color: black;
    color: #EEE;
    border-color: #333;
    border-radius: 0 15px 15px 0;
}

.input-group-text {
    background-color: #2e2f3c;
    color: #EEE;
    border-color: #333;
    border-radius: 15px 0 0 15px;
}
